@media screen and (max-width: 540px) {
	.menu{
		display: none;
	}

	.logo{
		float: left;
		margin-left: 3%;
	}

	.burger_menu{
		float: right;
		margin-right: 3%;
	}

	header{
		padding: 3px 0 2px;
	}

	.logo img {
		max-width: 70px;
	}

}